body div#pp_bar {
position: fixed;
right: 0;
bottom: 0;
padding: 4px;
background-color: #252C33;
border-top: 1px solid #ddd;
border-left: 1px solid #ddd;
opacity: 0.9;
font-size: 12px;
line-height: 1em;
color:white;
border-radius:4px 0px 0px 0px;
-moz-border-radius-topleft:4px;
-webkit-border-top-left-radius:4px;
}

body div#pp_bar .permalink {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAADpSURBVCjPY/jPgB8y0EmBHXdWaeu7ef9rHuaY50jU3J33v/VdVqkdN1SBEZtP18T/L/7f/X/wf+O96kM3f9z9f+T/xP8+XUZsYAWGfsUfrr6L2Ob9J/X/pP+V/1P/e/+J2LbiYfEHQz+ICV1N3yen+3PZf977/9z/Q//X/rf/7M81Ob3pu1EXWIFuZvr7aSVBOx1/uf0PBEK3/46/gnZOK0l/r5sJVqCp6Xu99/2qt+v+T/9f+L8CSK77v+pt73vf65qaYAVqzPYGXvdTvmR/z/4ZHhfunP0p+3vKF6/79gZqzPQLSYoUAABKPQ+kpVV/igAAAABJRU5ErkJggg==);
  background-repeat: no-repeat;
  background-position: 0px 2px;
  padding: 2px;
  width:16px;
  height:16px;
  float:left;
  outline: none;
}
body div#pp_bar .permalink span {
  display:none;
}

body div#pp_bar label {
  margin-left:5px;
  padding-right:4px;
  display:inline;
}